# Függőségek ignorálása minden almapában
node_modules/
**/node_modules/

# Build könyvtárak
dist/
**/dist/
.vercel/

# Környezeti változók
.env
**/ .env

# IDE beállítások
.vscode/
.idea/

# Egyéb felesleges fájlok
npm-debug.log*
yarn-debug.log*
yarn-error.log*